# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Vages
!libghthash.a
!libghthash32.a
!bindsol.o
!bindsol32.o
!simplifynodes.o
!simplifynodes32.o
!symtab.o
!symtab32.o
!tree.o
!tree32.o
!bindnames.o
!typecheck.o